DB_HOST={HOST}
POSTGRES_DB=postgres
POSTGRES_USER={USER}
POSTGRES_PASSWORD={PASSWORD}
DB_PORT=15432
DJANGO_SU_NAME= {DJANGO_SU_NAME}
DJANGO_SU_EMAIL= {DJANGO_SU_EMAIL}
DJANGO_SU_PASSWD= {DJANGO_SU_PASSWD}